.venv/

# PyTorch checkpoint files
*.pt
*.pth
*.ckpt
*checkpoints/
data/*
.idea/misc.xml
.idea/modules.xml
.idea/PyTorch-deepdive.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
